/*цвет заголовков color: #212121;*/

/*вторичный цвет текста color: #757575;*/

/*акцент background: #2196F3;*/

/* вторичный цвет фона  background: #F5F4FA;*/

/*белый color: #FFFFFF;*/

/* вторичный белый (footer) color: rgba(255, 255, 255, 0.6); */
:root{
    --primaty-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
}

/* hero */
.hero {
    background-color: #2F303A;
    text-align: center;
    margin-bottom: 94px;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title{
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
}

/* hero button */
.hero .button{
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 136px;
    text-align: center;

    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-decoration: none;
}

/* section */
.section {
    margin-bottom: 94px;
}

.section-title{
    color:var(--title-text-color) ;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 50px;
}

.section .advantages{
    display: none;
}

.section-title .team-list{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

.section-team{
    background-color: #F5F4FA;
}

.section-team .list{
    padding-bottom: 94px;
}

.section-team .section-title{
    padding-top: 94px;
}

/* features */

.feature-list .title{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
}

.feature-list .text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 0;
}

/* team */
.team-list img{
    margin-bottom: 30px;
}

.team-list .title{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 10px;
}

.team-list  .text{
    margin-top: 0;
    margin-bottom: 30px;
}